demo_code/DTD/sonnet/sonnet29.dtd

<!ELEMENT document (sonnet+)>  <!ELEMENT sonnet (title,quatrain,quatrain,quatrain,couplet,author,hr)>	<!ELEMENT title (#PCDATA)>	<!ELEMENT quatrain (line,line,line,line)>	<!ELEMENT couplet (line,line)>		<!ELEMENT line ANY>			<!ELEMENT first_word (#PCDATA|first_letter)*>				<!ELEMENT first_letter (#PCDATA)>			<!ELEMENT rhymeA (#PCDATA)>			<!ELEMENT rhymeB (#PCDATA)>			<!ELEMENT rhymeC (#PCDATA)>			<!ELEMENT rhymeD (#PCDATA)>			<!ELEMENT rhymeE (#PCDATA)>			<!ELEMENT rhymeF (#PCDATA)>			<!ELEMENT rhymeG (#PCDATA)>	<!ELEMENT author (#PCDATA)>	<!ELEMENT hr EMPTY>			<!ATTLIST quatrain number CDATA #REQUIRED>			<!ATTLIST line number CDATA #REQUIRED>			<!ATTLIST rhymeA type CDATA #REQUIRED cadence CDATA #REQUIRED>			<!ATTLIST rhymeB type CDATA #REQUIRED cadence CDATA #REQUIRED>			<!ATTLIST rhymeC type CDATA #REQUIRED cadence CDATA #REQUIRED>			<!ATTLIST rhymeD type CDATA #REQUIRED cadence CDATA #REQUIRED>			<!ATTLIST rhymeE type CDATA #REQUIRED cadence CDATA #REQUIRED>			<!ATTLIST rhymeF type CDATA #REQUIRED cadence CDATA #REQUIRED>			<!ATTLIST rhymeG type CDATA #REQUIRED cadence CDATA #REQUIRED>